@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR:wght@100..400&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  color: #ffffff8a;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  cursor: context-menu;
  animation: changeBg 180s linear infinite;
  background-size: cover;
  margin: 0;
}

@keyframes changeBg {
  0% {
    background-color: #264653;
  }
  8% {
    background-color: #3c6e71;
  }
  15% {
    background-color: #3a8666;
  }
  23% {
    background-color: #0077b6;
  }
  31% {
    background-color: #7b2cbf;
  }
  38% {
    background-color: #f6aa1c;
  }
  46% {
    background-color: #fe7f2d;
  }
  54% {
    background-color: #ed3f7f;
  }
  62% {
    background-color: #b63149;
  }
  69%{
    background-color: #4a9f4a;
  }
  77% {
    background-color: #7a8a1d;
  }
  82% {
    background-color: #3b9379;
  }
  92% {
    background-color: #266897;
  }
  100% {
    background-color: #264653;
  }
}

header{
  font-size: 20px;
  color: #ffffff;
  font-family: playwrite hr;
}

header h1{
  margin: 15px auto 25px auto;
  width: fit-content;
}

hr{
  width: 90%;
  border: 1.3px solid white;
}

.player{
  padding: auto;
  margin: auto;
  width: fit-content;
}

.player .player-controls{
  background-color: #ffffff19;
  margin: auto;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  border-radius: 35px;
}

.player .player-controls .button{
  margin: 15px;
  width: 90px;
}

.player .player-controls .button svg{
  margin: 0;
  padding: 0;
  width: 20px;
  cursor: pointer;
  fill: #ffffff8a;
  transition: .1s ease-in-out;
}

.player .player-controls .button svg:hover{
  fill: #ffffff;
}

.categories{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  width: 80%;
}

.categories .playlist{
  background-color: #ffffff19;
  color: #ffffff8a;
  fill: #ffffff8a;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 15px;
  width: 16%;
  height: fit-content;
  border-radius: 15px;
  box-shadow: 2px 5px 15px #ffffff11;
  transition: .2s ease-in-out;
}

.categories .playlist:hover{
  color: #ffffff;
  fill: #ffffff;
  box-shadow: 2px 5px 15px #ffffff1b;
}

.categories .playlist svg{
  height: 80px; 
}

.categories .playlist h3{
  margin-bottom: 0;
}

.sounds-list{
  width: 70%;
}

.sounds-list .sound-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}